#fullscreen-control {
  color: white;

  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  height: 3em;
  width: 3em;
  border-radius: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}
