<section id="container">
  <img id="hero" src="../assets/hero.jpg"/>
  <div id="text-container">

    <app-countdown-wrapper/>
    <p
      id="countWrapper"
      [ngClass]="{shuffleCount: enableDisplayCountAnimation}"
    >
      <span *ngFor="let char of displayCountChars" class="letter">{{ char }}</span>
      <span style="font-size:0.25em; line-height:normal; align-self: end">ml</span>
    </p>
    <app-donation-controls
      *ngIf="auth.isAuthenticated"
      (submit)="animateCounter()"
    />
  </div>
</section>

<app-login-logout/>
<app-admin-controls *ngIf="auth.role == 'admin'"/>
