#container {
  max-height: 100vh;
  max-width: 95vw;
  margin: auto auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #hero {
    max-width: 100%;
    max-height: 95vh;
    border-radius: 2em;
    margin: auto;
  }

  #text-container {
    color: white;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//---------
//From https://codepen.io/palmdesign/pen/bGpVKxy + some customizations

#countWrapper {
  position: relative;
  $countHeight:0.8em;
  font-size: 10em;
  line-height: $countHeight;
  height: $countHeight;
  margin: 0;
  display: flex;

  .letter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-weight: 600;
    text-transform: uppercase;
    //color: #eee;
  }

  &.shuffleCount {

    .letter:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      word-break: break-all;
      background-color: #cb1718;
    }

    .letter:nth-last-child(1):before {
      content: "70";
      margin-top: -$countHeight * 2;
      animation-name: letter1;
      animation-duration: 1.44s;
      animation-delay: 0.28s;
      animation-fill-mode: forwards;
    }

    @keyframes letter1 {
      from {
        margin-top: -$countHeight * 2;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(2):before {
      content: "578624";
      margin-top: -$countHeight * 6;
      animation-name: letter2;
      animation-duration: 2.5s;
      animation-delay: 0.08s;
      animation-fill-mode: forwards;
    }

    @keyframes letter2 {
      from {
        margin-top: -$countHeight * 6;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(3):before {
      content: "073295461";
      margin-top: -$countHeight * 9;
      animation-name: letter3;
      animation-duration: 1.5s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }

    @keyframes letter3 {
      from {
        margin-top: -$countHeight * 9;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(4):before {
      content: "30794261";
      margin-top: -$countHeight * 8;
      animation-name: letter4;
      animation-duration: 1.5s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }

    @keyframes letter4 {
      from {
        margin-top: -$countHeight * 8;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(5):before {
      content: "71964032";
      margin-top: -$countHeight * 8;
      animation-name: letter5;
      animation-duration: 1.33s;
      animation-delay: 0.62s;
      animation-fill-mode: forwards;
    }

    @keyframes letter5 {
      from {
        margin-top: -$countHeight * 8;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(6):before {
      content: "72938104";
      margin-top: -$countHeight * 8;
      animation-name: letter6;
      animation-duration: 1.5s;
      animation-delay: 0.25s;
      animation-fill-mode: forwards;
    }

    @keyframes letter6 {
      from {
        margin-top: -$countHeight * 8;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(7):before {
      content: "830162947";
      margin-top: -$countHeight * 9;
      animation-name: letter7;
      animation-duration: 3.2s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }

    @keyframes letter7 {
      from {
        margin-top: -$countHeight * 9;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(8):before {
      content: "49280751";
      margin-top: -$countHeight * 8;
      animation-name: letter8;
      animation-duration: 0.14s;
      animation-delay: 0.96s;
      animation-fill-mode: forwards;
    }

    @keyframes letter8 {
      from {
        margin-top: -$countHeight * 8;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(9):before {
      content: "746319582";
      margin-top: -$countHeight * 8;
      animation-name: letter9;
      animation-duration: 2.345s;
      animation-delay: 0.33s;
      animation-fill-mode: forwards;
    }

    @keyframes letter9 {
      from {
        margin-top: -$countHeight * 8;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(10):before {
      content: "642901735";
      margin-top: -$countHeight * 9;
      animation-name: letter10;
      animation-duration: 3.1288888889s;
      animation-delay: 0.12s;
      animation-fill-mode: forwards;
    }

    @keyframes letter10 {
      from {
        margin-top: -$countHeight * 9;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(11):before {
      content: "804173569";
      margin-top: -$countHeight * 9;
      animation-name: letter11;
      animation-duration: 1.656s;
      animation-delay: 0.54s;
      animation-fill-mode: forwards;
    }

    @keyframes letter11 {
      from {
        margin-top: -$countHeight * 9;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(12):before {
      content: "70842";
      margin-top: -$countHeight * 5;
      animation-name: letter12;
      animation-duration: 2.56s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }

    @keyframes letter12 {
      from {
        margin-top: -$countHeight * 5;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(13):before {
      content: "89027";
      margin-top: -$countHeight * 5;
      animation-name: letter13;
      animation-duration: 1.44s;
      animation-delay: 0.55s;
      animation-fill-mode: forwards;
    }

    @keyframes letter13 {
      from {
        margin-top: -$countHeight * 5;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(14):before {
      content: "8094136725";
      margin-top: -$countHeight * 1;
      animation-name: letter14;
      animation-duration: 0s;
      animation-delay: 0.94s;
      animation-fill-mode: forwards;
    }

    @keyframes letter14 {
      from {
        margin-top: -$countHeight * 1;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(15):before {
      content: "49120";
      margin-top: -$countHeight * 5;
      animation-name: letter15;
      animation-duration: 1.632s;
      animation-delay: 0.49s;
      animation-fill-mode: forwards;
    }

    @keyframes letter15 {
      from {
        margin-top: -$countHeight * 5;
      }
      to {
        margin-top: $countHeight;
      }
    }

    .letter:nth-last-child(16):before {
      content: "1567203";
      margin-top: -$countHeight * 7;
      animation-name: letter16;
      animation-duration: 0.5142857143s;
      animation-delay: 0.85s;
      animation-fill-mode: forwards;
    }

    @keyframes letter16 {
      from {
        margin-top: -$countHeight * 7;
      }
      to {
        margin-top: $countHeight;
      }
    }
  }
}
