/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
  @media (min-aspect-ratio: 2657/1890) {
    font-size: calc(1vh/48 * 100);
  }
  @media (max-aspect-ratio: 2657/1890){
    font-size: calc(1vw /67.5 * 100);
  }
}

body{
  background-color: #1d1d1b;
  display: flex;
  align-content: center;
  min-height: 100%;
  font-family: Montserrat;
  font-feature-settings:'tnum';
  font-weight: bold;
  margin:0;
  p {
    margin: 1rem 0
  }
}
html{
  height:100%
}
app-root {
  display: contents
}
